* {
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Playfair+Display+SC|Vast+Shadow');

.header {
    display: grid;
    grid-template-areas: "ttl" "nav";
    grid-template-rows: .8fr .2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 40px;
    
}
.title {
    display: grid;
    grid-area: ttl;
    font-family: 'Vast Shadow', cursive;
    /* background:  */
    background-repeat: no-repeat;
    /* color:  */
    /* font-size:  */
}

nav {
    display: grid;
    font-family: 'Playfair Display', serif;
    color: rgb(85, 85, 85);
    background-color: black;

}
footer {
    font-family: 'Playfair Display', serif;
    /* font-size:  */
    /* color: */
    /* background:  */
}
.homeWrapper {
    /* background: ; */
    background-repeat: no-repeat;

}

.input {
  margin: 20px;
  margin-top: 70px;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.submit:hover {
  background-color: #D2E3F6;
}
