* {
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Playfair+Display+SC|Vast+Shadow');
@import url("https://fonts.googleapis.com/css?family=Lato");

.mainHeader {
    display: grid;
    grid-template-areas: "ttl" "nav";
    grid-template-rows: .8fr .2fr;
    grid-template-columns: 1fr;
    height: 100px;
    position: relative;
    width: 100%;
    background: url("./steel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
}
.title {
    display: grid;
    grid-area: ttl;
    font-family: 'Vast Shadow', cursive;
    color: black;
    font-size: 32px;
    position: absolute;
    text-align: right;
    left: 10%;
    padding-top: 5px;
}

nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    font-family: 'Playfair Display', serif;
    background-color: black;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 14px; 
    bottom: 0;
}
.home {
    display: grid;
    grid-column: 1/4;
    color: silver;
    text-decoration: none;
    
}
.home:hover {
    color: #D2E3F6;
  }
.addDrink {
    display: grid;
    grid-column: 4/7;
    color: silver;
    text-decoration: none;
}
.addDrink:hover {
    color: #D2E3F6;
  }
.favorites {
    display: grid;
    grid-column: 7/10;
    color: silver;
    text-decoration: none;
}
.favorites:hover {
    color: #D2E3F6;
  }
.login {
    display: grid;
    grid-column: 10/13;
    color: silver;
    text-decoration: none;
}
.login:hover {
    color: #D2E3F6;
  }
footer {
    font-family: 'Playfair Display', serif;
    color: silver;
    background-color: black;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 16px; 
    text-align: right;
    padding-right: 5px;
    height: 50px;
    padding-top: 20px;
}
.body-wrapper {
    background: url("./woodBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    margin-top: 0px;
    padding-bottom: 30px;
}

.input {
  margin: 50px;
  margin-top: 70px;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.submit:hover {
  background-color: #D2E3F6;
}

.drink-component {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  /* border: 2px solid gray;
  padding: 10px;
  background-color: #F1F1F1; */
}


.edit-form {
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

.ui.cards {
    padding-left: 4%;
    
}
.ui.card {
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    nav {
        text-align: right;
        padding-right: 10px;
    }
    .home {
        display: grid;
        grid-column: 5/7;
    }
    .addDrink {
        display: grid;
        grid-column: 7/9;  
    }
    .favorites {
        display: grid;
        grid-column: 9/11;   
    }
    .login {
        display: grid;
        grid-column: 11/13;    
    }
}
